<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 27: Transfer HTML file</title>
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
        <% include partials/navbar.ejs %>
    <h1> Welcome to my website! Login to the space world. </h1>
    <p>You can't find a better website anywhere else! :v </p>
</body>

</html>