<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 28: Query string</title>
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
        <% include partials/LS28navbar.ejs %>
    <h1> Congratulation! You contact to Admin successfully. </h1>
    
    <p>Name: <%= data.who%></p>
    <p>Department: <%= data.department%></p>
    <p>Email: <%= data.email%></p>
</body>

</html>