<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 28: Query string</title>
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
        <% include partials/LS28navbar.ejs %>
    <h1> Welcome to my website! Please fulfill information to this form. </h1>
    <p>You can't find a better website anywhere else! :v </p>

    
    <form action="" id="contact-form" method="POST">
        <label for="who">Who do you want to contact?</label><br>
        <input type="text" name="who" placeholder="Name..."><br>
        <label for="department">Which is department?</label><br>
        <input type="text" name="department" placeholder="Department"><br>
        <label for="email">Your email</label><br>
        <input type="text" name='email' placeholder="your email..."><br>
        <input type="submit" value="Send"> <br>
    </form>
</body>

</html>